<div class="container">
    <h1>Real Keal Realty</h1>
    <p>Thinking about selling your house? Well, look no further. With over 20 years of experience, I'm ready to make this the
        easiest process you've ever been through. You'll be shocked at how easy it is to submit your home for sale, and we'll
        get you a great offer in no time!
    </p>
    <p>Thinking about buying a new home? Your new domicile is right here! With over 20 years of experience, I'm ready to make
        this the easiest process you've ever been through. You'll be shocked at how easy it is scroll through our selection
        of beautiful homes and find the one that's perfect for you. What are you waiting for? Get buying today!
    </p>
</div>